[submodule "libs/common"]
	path = libs/common
	url = git@bitbucket.org:feelinglucky/android-common.git
[submodule "libs/libogg"]
	path = libs/libogg
	url = https://github.com/vincentjames501/libvorbis-libogg-android
